[Unit]
Description=VCC Networking
PartOf=vcc.service
After=vcc.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/node /vcc/clusternet.js

[Install]
RequiredBy=vcc.service
